services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/fastapi_db
      REDIS_URL: redis://redis:6379/0
      JWT_SECRET: a4d1f3cbe87c9e46bca2a22c93f5eafd9f54b621a03b4c1b5891d5f84c209a3c
      JWT_ALGORITHM: HS256
      EXPIRES_DELTA: 1
      CORS: http://localhost,http://localhost:3000,http://localhost:3001
      PASSWORD_DEFAULT: 123456
      RESEND_API_KEY: re_HuFFybww_4gz2HhgTyAnHUUoVDPZ3S5Su
      DISCORD_BOT_TOKEN: https://discord.com/api/webhooks/1400040703966318644/ZfLaOB38q3T-buCIlsNil6wHQPAJQxo-8dodzARdk599btZbn4RhvrT0L269Z1ylrJF5
    depends_on:
      - db

volumes:
  postgres_data:
  redis_data:
