version: "3.8"

services:
  nginx_proxy:
    image: nginx:alpine
    container_name: main_nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./team_3/front-end/client/build:/usr/share/nginx/html/team_3/frontend/client
      - ./team_3/pizza-backend:/usr/share/nginx/html/team_3/frontend/dashboard
    depends_on:
      - apache_server
      - team_3_app
      - team_4_app
      - team_5_app
      - team_6_app
      - team_7_app
    networks:
      - teams-network

  apache_server:
    build:
      context: .
      dockerfile: apache.Dockerfile
    container_name: apache_teams
    # image: php:8.0-apache
    volumes:
      - ./team_1/app:/var/www/html/team_1
      - ./team_2/app:/var/www/html/team_2

    depends_on:
      - team_1_db
      - team_2_db
    networks:
      - teams-network

  team_1_db:
    image: mysql:8.0
    container_name: team_1_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: team_1_db
      MYSQL_USER: team_1
      MYSQL_PASSWORD: team1pass
    volumes:
      - team_1_mysql_data:/var/lib/mysql
    networks:
      - teams-network

  team_2_db:
    image: mysql:8.0
    container_name: team_2_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: team_2_db
      MYSQL_USER: team_2
      MYSQL_PASSWORD: team2pass
    volumes:
      - team_2_mysql_data:/var/lib/mysql
    networks:
      - teams-network

  team_3_app:
    image: python:3.9
    container_name: team_3_python
    build:
      context: ./team_3/pizza-backend
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./team_3/pizza-backend:/app
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/fastapi_db
      REDIS_URL: redis://redis:6379/0
      JWT_SECRET: a4d1f3cbe87c9e46bca2a22c93f5eafd9f54b621a03b4c1b5891d5f84c209a3c
      JWT_ALGORITHM: HS256
      EXPIRES_DELTA: 1
      CORS: http://localhost,http://localhost:3000,http://localhost:3001
      PASSWORD_DEFAULT: 123456
      RESEND_API_KEY: re_HuFFybww_4gz2HhgTyAnHUUoVDPZ3S5Su
      DISCORD_BOT_TOKEN: https://discord.com/api/webhooks/1400040703966318644/ZfLaOB38q3T-buCIlsNil6wHQPAJQxo-8dodzARdk599btZbn4RhvrT0L269Z1ylrJF5
    depends_on:
      - team_3_db
    networks:
      - teams-network

  team_3_db:
    image: postgres:15
    container_name: team_3_postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: fastapi_db
    volumes:
      - team_3_pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - teams-network

  team_4_app:
    build:
      context: .
      dockerfile: php-apache-pgsql/Dockerfile
    container_name: team_4_apache
    volumes:
      - ./team_4/app:/var/www/html
    depends_on:
      - team_4_db
    networks:
      - teams-network

  team_4_db:
    image: postgres:13
    container_name: team_4_postgres
    environment:
      POSTGRES_DB: team_4_db
      POSTGRES_USER: team_4
      POSTGRES_PASSWORD: team4pass
    volumes:
      - team_4_pg_data:/var/lib/postgresql/data
      - ./team_4/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - teams-network

  team_5_app:
    build:
      context: .
      dockerfile: php-apache-pgsql/Dockerfile
    container_name: team_5_apache
    volumes:
      - ./team_5/app:/var/www/html
    depends_on:
      - team_5_db
    networks:
      - teams-network

  team_5_db:
    image: postgres:13
    container_name: team_5_postgres
    environment:
      POSTGRES_DB: team_5_db
      POSTGRES_USER: team_5
      POSTGRES_PASSWORD: team5pass
    volumes:
      - team_5_pg_data:/var/lib/postgresql/data
    networks:
      - teams-network

  team_6_app:
    build:
      context: .
      dockerfile: php-apache-pgsql/Dockerfile
    container_name: team_6_apache
    volumes:
      - ./team_6/app:/var/www/html
    depends_on:
      - team_6_db
    networks:
      - teams-network

  team_6_db:
    image: postgres:13
    container_name: team_6_postgres
    environment:
      POSTGRES_DB: team_6_db
      POSTGRES_USER: team_6
      POSTGRES_PASSWORD: team6pass
    volumes:
      - team_6_pg_data:/var/lib/postgresql/data
    networks:
      - teams-network

  team_7_app:
    image: python:3.9
    container_name: team_7_python
    working_dir: /app
    volumes:
      - ./team_7/app:/app
    command: >
      bash -c "pip install flask psycopg2-binary &&
               python app.py"
    depends_on:
      - team_7_db
    networks:
      - teams-network

  team_7_db:
    image: postgres:13
    container_name: team_7_postgres
    environment:
      POSTGRES_DB: team_7_db
      POSTGRES_USER: team_7
      POSTGRES_PASSWORD: team7pass
    volumes:
      - team_7_pg_data:/var/lib/postgresql/data
    networks:
      - teams-network

networks:
  teams-network:
    driver: bridge

volumes:
  team_1_mysql_data:
  team_2_mysql_data:
  team_3_pg_data:
  team_4_pg_data:
  team_5_pg_data:
  team_6_pg_data:
  team_7_pg_data:
