* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    margin: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.sub {
    color: #666;
    margin-bottom: 30px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.icon {
     width: 70px;
            height: 70px;
            background: linear-gradient(135deg, #2a5298, #1e3c72);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            box-shadow: 0 4px 15px rgba(30, 60, 114, 0.3);
            margin-bottom: 5px;
}

.icon .material-icons {
    font-size: 40px;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 840px) {
    .container {
        width: 95%;
        margin: 30px auto;
    }
    
    .menu {
        grid-template-columns: 1fr;
    }
}