body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    margin: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.sub {
    color: #666;
    margin-bottom: 30px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.title{
    font-weight: bold;
}