name: Auto Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 221.252.11.196
          username: adminarts
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/adminarts/forschool
            git pull origin main
            docker compose down
            docker compose up -d --build
