name: Team 2 Auto Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      # ပထမပုံအရ team_2 folder က အပြင်ဆုံးမှာရှိနေလို့ path ပြင်ထားပါတယ်
      - 'team_2/**' 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploying via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Server ထဲက Folder နေရာကို သွားမယ်
            cd ~/forschool
            
            # Code အသစ်ဆွဲယူမယ်
            git pull origin main
            
            # Team 2 ရဲ့ container တွေကိုပဲ restart ချမယ်
            docker-compose up -d --build team_2_apache team_2_mysql
