name: Team 2 Auto Deploy

# ဒီအပိုင်းက Trigger ပါ (Push တင်တိုင်း အလုပ်လုပ်ခိုင်းတာ)
on:
  push:
    branches: [ "main" ]
    paths:
      - 'forschool/team_2/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploying via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: adminarts
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/forschool
            git pull origin main
            docker-compose up -d --build team_2_apache team_2_mysql
